In [1]:
import astropy as ast
from astropy.coordinates import solar_system_ephemeris, EarthLocation
from astropy.coordinates import get_body_barycentric, get_body, get_moon

import datetime
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
bodies = solar_system_ephemeris

In [3]:
bodies.bodies

('earth',
 'sun',
 'moon',
 'mercury',
 'venus',
 'earth-moon-barycenter',
 'mars',
 'jupiter',
 'saturn',
 'uranus',
 'neptune')

In [4]:
# to get the position of the moon, we need to make a time object
example_time = datetime(1998, 8, 8, 2, 45, 37)
future_time = datetime(1999, 8, 8, 2, 45, 37)
future_time = ast.time.Time(future_time)
moon_time = ast.time.Time(example_time)

#inpputing into the get_moon function to get the position
moon = get_moon(moon_time)
moon

<SkyCoord (GCRS: obstime=1998-08-08 02:45:37, obsgeoloc=(0., 0., 0.) m, obsgeovel=(0., 0., 0.) m / s): (ra, dec, distance) in (deg, deg, km)
    (317.74470173, -14.75326813, 372805.14681261)>

In [5]:
# listing different locations in database
EarthLocation.get_site_names()

['',
 '',
 '',
 'ALMA',
 'ATST',
 'Anglo-Australian Observatory',
 'Apache Point',
 'Apache Point Observatory',
 'Atacama Large Millimeter Array',
 'BAO',
 'BBSO',
 'Beijing XingLong Observatory',
 'Black Moshannon Observatory',
 'CHARA',
 'Canada-France-Hawaii Telescope',
 'Catalina Observatory',
 'Cerro Pachon',
 'Cerro Paranal',
 'Cerro Tololo',
 'Cerro Tololo Interamerican Observatory',
 'DCT',
 'DKIST',
 'Discovery Channel Telescope',
 'Dominion Astrophysical Observatory',
 'GBT',
 'Gemini South',
 'Green Bank Telescope',
 'Hale Telescope',
 'Haleakala Observatories',
 'Happy Jack',
 'IAO',
 'JCMT',
 'James Clerk Maxwell Telescope',
 'Jansky Very Large Array',
 'Keck Observatory',
 'Kitt Peak',
 'Kitt Peak National Observatory',
 'La Silla Observatory',
 'Large Binocular Telescope',
 'Las Campanas Observatory',
 'Lick Observatory',
 'Lowell Observatory',
 'MWA',
 'Manastash Ridge Observatory',
 'McDonald Observatory',
 'Medicina',
 'Medicina Dish',
 'Michigan-Dartmouth-MIT Observatory',
 'Mount Graham International Observatory',
 'Mt Graham',
 'Mt. Ekar 182 cm. Telescope',
 'Mt. Stromlo Observatory',
 'Multiple Mirror Telescope',
 'Murchison Widefield Array',
 'NOV',
 'NST',
 'National Observatory of Venezuela',
 'Noto',
 'Observatorio Astronomico Nacional, San Pedro Martir',
 'Observatorio Astronomico Nacional, Tonantzintla',
 'Palomar',
 'Paranal Observatory',
 'Roque de los Muchachos',
 'SAAO',
 'SALT',
 'SPO',
 'SRT',
 'Sac Peak',
 'Sacramento Peak',
 'Siding Spring Observatory',
 'Southern African Large Telescope',
 'Subaru',
 'Subaru Telescope',
 'Sunspot',
 'Sutherland',
 'TUG',
 'UKIRT',
 'United Kingdom Infrared Telescope',
 'Vainu Bappu Observatory',
 'Very Large Array',
 'W. M. Keck Observatory',
 'Whipple',
 'Whipple Observatory',
 'aao',
 'alma',
 'apo',
 'bbso',
 'bmo',
 'cfht',
 'ctio',
 'dao',
 'dct',
 'dkist',
 'ekar',
 'example_site',
 'flwo',
 'gbt',
 'gemini_north',
 'gemini_south',
 'gemn',
 'gems',
 'greenwich',
 'haleakala',
 'iao',
 'irtf',
 'jcmt',
 'keck',
 'kpno',
 'lapalma',
 'lasilla',
 'lbt',
 'lco',
 'lick',
 'lowell',
 'mcdonald',
 'mdm',
 'medicina',
 'mmt',
 'mro',
 'mso',
 'mtbigelow',
 'mwa',
 'mwo',
 'noto',
 'ohp',
 'paranal',
 'salt',
 'sirene',
 'spm',
 'spo',
 'srt',
 'sso',
 'tona',
 'tug',
 'ukirt',
 'vbo',
 'vla']

In [6]:
# Trying other planets with a location
location = EarthLocation.of_site('Sacramento Peak')


with solar_system_ephemeris.set('builtin'):
    mars = get_body('mars', moon_time, location)

mars
# this took a while to run ~15 seconds.. 
# may be a problem for generating data

<SkyCoord (GCRS: obstime=1998-08-08 02:45:37, obsgeoloc=(-1658354.16677631, -5107436.05125564, 3435229.07626787) m, obsgeovel=(372.43016688, -120.89167903, 0.0508261) m / s): (ra, dec, distance) in (deg, deg, AU)
    (113.69061447, 22.54184564, 2.46265131)>

In [7]:
# trying with cartesian coords
# no need for earth location because it is not relative to earth
with solar_system_ephemeris.set('builtin'):
    mars_cart = get_body_barycentric('mars', moon_time)

mars_cart

<CartesianRepresentation (x, y, z) in AU
    (-0.20064669, 1.43092547, 0.66171799)>

In [8]:
# trying to understand the skycoord object
mars

<SkyCoord (GCRS: obstime=1998-08-08 02:45:37, obsgeoloc=(-1658354.16677631, -5107436.05125564, 3435229.07626787) m, obsgeovel=(372.43016688, -120.89167903, 0.0508261) m / s): (ra, dec, distance) in (deg, deg, AU)
    (113.69061447, 22.54184564, 2.46265131)>

In [9]:
mars.obsgeovel

<CartesianRepresentation (x, y, z) in m / s
    (372.43016688, -120.89167903, 0.0508261)>

In [10]:
mars.info

dtype = object
unit = deg,deg,AU
class = SkyCoord
n_bad = 0

In [11]:
mars.to_string('decimal')

'113.691 22.5418'

In [12]:
mars.distance.to_string()

'2.462651308514069 AU'

In [13]:
mars.representation_type

astropy.coordinates.representation.SphericalRepresentation

In [14]:
mars.shape

()

In [15]:
# this method computes thes new position of the object given two optional inputs: a new time or 
# time delta for the amount of time to evolve the postion of the source

# you must input one of them with a velocity.. don't know if this is going to be useful

mars.apply_space_motion(new_obstime = future_time)

ValueError: SkyCoord requires velocity data to evolve the position.

In [16]:
# Computes coordinates at the given offset from this coordinate.

# Parameters
# position_angle : position_angle of offset

# separation : offset angular separation

# Returns
# newpoints : SkyCoord
# The coordinates for the location that corresponds to offsetting by the given position_angle and separation.

# TL;DR
# given new angles returns new position

mars.directional_offset_by(45, 24)

<SkyCoord (GCRS: obstime=1998-08-08 02:45:37, obsgeoloc=(-1658354.16677631, -5107436.05125564, 3435229.07626787) m, obsgeovel=(372.43016688, -120.89167903, 0.0508261) m / s): (ra, dec) in deg
    (60.38034812, -16.06708439)>

In [17]:
# obvious: gets constellation that it's apart of
mars.get_constellation()

'Gemini'

In [18]:
# Computes the on-sky position angle (East of North) between this SkyCoord and another.

mars.position_angle(moon)

In [19]:
# Computes on-sky separation between this coord and another

mars.separation(moon)

In [20]:
mars.separation_3d(moon)

In [21]:
#Returns the sky offset frame with this SkyCoord at the origin.
mars.skyoffset_frame()

<SkyOffsetGCRS Frame (obstime=J2000.000, obsgeoloc=(0., 0., 0.) m, obsgeovel=(0., 0., 0.) m / s, rotation=0.0 deg, origin=<GCRS Coordinate (obstime=1998-08-08 02:45:37, obsgeoloc=(-1658354.16677631, -5107436.05125564, 3435229.07626787) m, obsgeovel=(372.43016688, -120.89167903, 0.0508261) m / s): (ra, dec, distance) in (deg, deg, AU)
    (113.69061447, 22.54184564, 2.46265131)>)>

In [22]:
# Default 
mars.to_string('decimal')

'113.691 22.5418'

In [23]:
mars.to_string('dms')

'113d41m26.2121s 22d32m30.6443s'

In [24]:
mars.to_string('hmsdms')

'07h34m45.7475s +22d32m30.6443s'

### Generating Data From Planets 
Mercury, Venus, Mars, Jupiter and Saturn

In [27]:
# This cell takes forever btw (>3 hours lol)

BODY_NAMES = ['mercury', 'venus', 'mars', 'jupiter', 'saturn', 'moon', 'sun']


# helper_function
def get_spherical(body):
    # Returns (theta, phi, r) in (deg, deg, AU)
    # given Skycoord object
    # Note: r is given in km when the body is the Moon
    
    angles = [float(i) for i in body.to_string().split(' ')]
    
    # removing the units and converting to float
    
    body_dist_string = body.distance.to_string()
    units = body_dist_string[-2:]
    dist = float(body_dist_string[:-3])
    if units == 'km':
        dist /= 1.496e+8
    return (angles[0], angles[1], dist)


def add_noise(spherical_coords):
    # Takes a tuple of (theta, phi, r) in (deg, deg, AU) and returns a noisified version of the data
    # Currently doesn't add noise to r
    theta = spherical_coords[0]
    phi = spherical_coords[1]
    r = spherical_coords[2]
    return (theta + np.random.normal(0,1), phi + np.random.normal(0,1), r)


# creating datetime objects for every day at 12am for 150 years
# we're trying to predict the locations at other times during the day
# Note: changed to 2-day range for testing purposes. Change range to generate data
times = pd.date_range(start="2020-01-01-00-00-00", end="2020-01-02-00-00-00")

celestial_bodies = pd.DataFrame()

# iterating over times
for time in times:
    time = ast.time.Time(time.to_pydatetime())
    # opening and instantiating the planets and heavenly bodies
    loc = EarthLocation.of_site('medicina')
    bodies = []
    
    with solar_system_ephemeris.set('builtin'):
        for body_name in BODY_NAMES:
            bodies.append(get_body(body_name, time, loc))
    
    row = {}
    row['time'] = time
    row['location'] = str(loc)
    row['spherical_coord'] = ['theta', 'phi', 'r']
    for body_name, body in zip(BODY_NAMES, bodies):
        row[body_name] = add_noise(get_spherical(body)) # add noise to the raw spherical coordinates
    celestial_bodies = celestial_bodies.append(pd.DataFrame(row), ignore_index = True)

celestial_bodies.head()

,time,location,spherical_coord,mercury,venus,mars,jupiter,saturn,moon,sun
0,2020-01-01 00:00:00,"(4461340.48313723, 919588.07009129, 4449530.22...",theta,276.044073,316.336778,236.147191,278.063313,293.199509,348.945687,280.086266
1,2020-01-01 00:00:00,"(4461340.48313723, 919588.07009129, 4449530.22...",phi,-26.435921,-19.465005,-19.181823,-23.343231,-22.448143,-11.553153,-23.812709
2,2020-01-01 00:00:00,"(4461340.48313723, 919588.07009129, 4449530.22...",r,1.434031,1.278061,2.184406,6.208743,10.996571,0.002721,0.983332
3,2020-01-02 00:00:00,"(4461340.48313723, 919588.07009129, 4449530.22...",theta,276.548877,317.210283,235.996529,278.574041,291.455368,359.652877,279.613528
4,2020-01-02 00:00:00,"(4461340.48313723, 919588.07009129, 4449530.22...",phi,-26.667795,-16.809543,-20.713873,-22.485480,-22.554287,-5.960945,-23.499242